{% extends "alumno.html" %} {% block opcion %} {% if longitud != 0 %}
<div class="col-md-9 col-xl-10">
    <table class="table">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Materia</th>
                <th scope="col">Aula</th>
                <th scope="col">Horario </th>
                <th scope="col">Profesor@</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalle_carga %}
            <tr style="font-size: .8rem;">
                <th scope="row">{{forloop.counter}}</th>
                <td>{{detalle.materia}}</td>
                <td>{{detalle.aula}}</td>
                <td>{{detalle.hora_inicio}} - {{detalle.hora_final}}</td>
                <td>{{detalle.profesor}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="col-md-9 col-xl-10 text-center mt-4">
    <h3>NO TE ENCUENTRAS INSCRITO ACTUALMENTE</h3>
</div>
{% endif %} {% endblock %}